---

---
<div  class="aboutus-containter">
    <div class="box">
        <h1>quiÉnes somos</h1>
        <p> 2IES es una empresa con experiencia en sectores de infraestructura y en áreas relacionadas con la planificación estratégica, la regulación, el mejoramiento de negocios, y el desarrollo de sistemas, así como la aplicación e integración en Tecnologías de la Información y Comunicación, tanto en empresas como entidades del sector público.</p>
    </div>
</div>


<style>
    .aboutus-containter{
        color: white;
        box-sizing: border-box;
        display: flex;
        justify-content: center;


            .box {
            max-width: 80%;
            background-color: #4fa768;
            border-radius: 25px;
            width: 100%;
            padding:5px;
            }

        h1 {
        font-family: 'Staatliches';
        font-size: 3.1em;
        margin: 3% 3% 3% 6%;
        text-transform: uppercase;
        padding-bottom: 5px;
        }
        
        p {
            font-family: 'Roboto', Arial, sans-serif ;
            line-height: 2.2;
            margin: 3% 10% 3% 6%;
            font-size: 1.5em;
            text-align: justify;
        }
    
    }
</style>
