---

---
<div class="hero-containter">
    <h1 class="title">INFRAESTRUCTURA Y TECNOLOGÍA</h1>
    <button class="btn01">AGENDAR CITA</button>
</div>


<style>
    .hero-containter{
        font-family: 'Notable', sans-serif;
        height: 50vh;
        width: 40%;
        margin: 12% 0% 10% 6%;

        .title{
        color: black;
        font-size: 5em;
        line-height: 1.2;
        }

        .btn01 {
        font-size: 1.5em;
        margin: 3% 0% 0% -3%; 
        padding: 5px 8px;
        background-color: #29a267;
        color: white;
        border: none;
        border-radius: 8px;
        cursor: pointer;
        font-weight: bold;
        transition: background-color 0.3s ease;
        letter-spacing: -1px;       
        transform: scaleX(0.8);      
    }
    }
</style>