---
import UnderConstructionCircuit from "./UnderConstructionCircuit.astro";
import UnderConstructionMessage from "./UnderConstructionMessage.astro";
---

<main class="uc-container">
  <UnderConstructionCircuit class="uc-first-circuit" />
  <UnderConstructionMessage />
  <UnderConstructionCircuit class="uc-last-circuit" />
</main>

<style>
  .uc-container {
    background-color: #1b3f27;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    padding: 0px 30px;
    gap: 50px;
  }
  .uc-first-circuit {
    display: none;
    animation-delay: 0.05s;
  }

  /* SMARTPHONES PORTRAIT */
  @media only screen and (min-width: 300px) {
  }

  /* SMARTPHONES LANDSCAPE */
  @media only screen and (min-width: 480px) {
    .uc-container {
      flex-direction: row;
      align-items: stretch;
      justify-content: center;
      gap: 8vw;
      padding: 0px 50px;
    }
    .uc-first-circuit,
    .uc-last-circuit {
      align-self: flex-end;
      max-height: 60vh;
    }
  }

  /* TABLETS PORTRAIT */
  @media only screen and (min-width: 768px) {
  }

  /* TABLET LANDSCAPE / DESKTOP */
  @media only screen and (min-width: 1024px) {
    .uc-first-circuit {
      display: flex;
    }
  }
</style>
