---
import BottomCircuit from "@components/vectors/BottomCircuit.astro"
import Logo2ies from "@components/vectors/Logo2ies.astro";
---
<main>
    <div class="bottomc">
    <BottomCircuit class="bc" />
    </div>
    <h1>Sitio en construcción</h1>
    <Logo2ies />
    <p>Estamos mejorando nuestro sitio</p>
</main>

<style>
    .bottomc{
        position: absolute;
        bottom: 0;
    }
    p{

    }
</style>