---
import BottomCircuit from "@components/vectors/BottomCircuit.astro";
import Logo2ies from "@components/vectors/Logo2ies.astro";
---

<main class="under-const-container">
  <div class="bottomc">
    <BottomCircuit />
  </div>
  <div class="logo2ies-container">
    <Logo2ies />
  </div>
  <h1>Volvemos pronto!</h1>
  <p>Estamos actualizando nuestro sitio web para brindarte una mejor experiencia</p>
</main>

<style>
  .under-const-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  .logo2ies-container {
    width: 200px;
  }
  .under-const-container h1 {
    font-size: 2rem;
    font-weight: 600;
  }
  .bottomc {
    position: absolute;
    bottom: 0;
    left: 40px;
  }
</style>
