---
import BottomCircuit from "./vectors/BottomCircuit.astro";
const { class: className, ...rest } = Astro.props;
---

<div class:list={["ucc-container", className]} {...rest}>
  <BottomCircuit />
</div>

<style>
  .ucc-container {
    display: flex;
    align-items: end;
    justify-content: center;
    padding: 0px 0px 0px 20px;
    min-width: 200px;
    max-width: 250px;

    max-height: 40vh;
    background: linear-gradient(
      to bottom,
      rgba(79, 166, 105, 0) 20%,
      rgba(154, 216, 245, 1) 100%
    );
    background-repeat: no-repeat;
    background-position-y: 0px;
    /*animation: working cubic-bezier(0.175, 0.885, 0.32, 1.275) 0.8s infinite;*/
    animation: working linear 1.2s infinite;
  }
  @media only screen and (min-height: 880px) {
    .ucc-container {
      max-height: 80vh;
      width: 100%;
    }
  }

  @keyframes working {
    0% {
      background-position-y: 250px;
    }
    10% {
      background-position-y: 10px;
    }
    20%{
        background-position-y: 250px;
    }
    25%{
      background-position-y: 10px;
    }
    30%{
        background-position-y: 250px;
    }
    100% {
      background-position-y: 250px;
    }
  }
</style>
